<%- include('../partials/header.ejs') %>

<h2> <%= camp.name %> </h2>

<img src="<%= camp.image %>">

<p> <%= camp.description %></p>


<% camp.comments.forEach( (comment) => { %>
    <p> <strong> <%= comment.author %> </strong> - <%= comment.text %> </p>
<% }); %>

<%- include('../partials/footer.ejs') %>