<%- include('partials/header.ejs') %>

<div class="container">
    <h1 style="text-align: center;"> USER PROFILE </h1>
    <br>
    <div class=="row">
        <div class="col-md-4 float-left">
            <div class="figure">
                <img class="figure-img img-fluid" src="<%= user.avatar %>" alt="Profile Photo">
                <div class="figure-caption">
                    <h4> USERNAME: <%= user.username %> </h4>
                </div>
            </div>
        </div>

        <div class="col-md-8 float-right" id="profilepage">
            <h4> <strong> NAME </strong>: <%=user.firstName + ' ' + user.lastName %></h4>
            <h4> <strong> BIO</strong> : <%= user.bio %> </h4> 
            <h4> <strong>EMAIL</strong> : <%= user.email %> </h4>
        </div>

    </div>
</div>


<%- include('partials/footer.ejs') %>