<%- include('partials/header.ejs') %>

<div class="container">
    <h1 style="text-align: center;"> USER PROFILE </h1>
    <br>
    <div class=="row">
        <div class="col-md-4 float-left">
            <div class="figure">
                <img class="figure-img img-fluid" src="<%= user.avatar %>" alt="Profile Photo">
                <div class="figure-caption" style="color: black;">
                    <% let adminStatus = 'Unknown'; %>
                    <% if(user.isAdmin){ %>
                    <% adminStatus = 'Moderator'; %>
                    <% } else{ %>
                    <% adminStatus = 'Regular User'; %>
                    <% } %>
                    <h4 style="font-size: medium;"> <strong> USERNAME: </strong> <%= user.username %> </h4>
                    <h4 style="font-size: medium;"> <strong> ADMIN STATUS: </strong> <%= adminStatus %> </h4>
                </div>
            </div>
        </div>

        <div class="col-md-8 float-right" id="profilepage">
            <h4> <strong> NAME </strong>: <%=user.firstName + ' ' + user.lastName %></h4>
            <h4> <strong> BIO</strong> : <%= user.bio %> </h4> 
            <h4> <strong> EMAIL</strong> : <%= user.email %> </h4>
            <h5> <a href="/users/<%=user.id%>/password/reset"> RESET YOUR PASSWORD </a> </h5>
        </div>

    </div>
</div>


<%- include('partials/footer.ejs') %>